.ingredient-add {
    border: 0;
    padding: 15px;
    background: green;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.ingredient-remove {
    border: 0;
    padding: 15px;
    background: red;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.ingredient-remove.disabled {
    background: #c3bfff;
    pointer-events: none;
}

li {
   display: flex; 
}

.menu-ingredient {
   flex: 1;
   margin-right: 1rem;
}

.total-price {
    font-weight: bold;
    font-size: 1.3rem;
}